<!--
This code is distributed under a BEER-WARE license.

Mario Macias Lloret wrote this file. Considering this, you can do what you
want with it: modify it, redistribute it, sell it, etc... But you will always
have to credit me as an author in the code.

In addition, if we meet someday and you think this code has been useful for
you, you MUST pay me a beer (a good one, if possible) as a reward for my
contribution.
-->

<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Información de Meeting</h3>
    </div>
    <div class="modal-body ng-scope">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="eventName">Evento</label>
                    <input id="eventName" class="form-control" ng-value="meeting.extra.eventName" readonly/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="createtime">Anfitrión</label>
                    <input id="createtime" class="form-control" ng-value="meeting.extra.ownerName" readonly/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="startTime">Empieza</label>
                    <input id="startTime" class="form-control" ng-value="showDate(meeting.startTime)" readonly/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="endTime">Acaba</label>
                    <input id="endTime" class="form-control" ng-value="showDate(meeting.finishTime)" readonly/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">Nombre quedada</label>
                    <input class="form-control" id="name" placeholder="Nombre" data-ng-model="meeting.name"/>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" id="description" style="min-height: 70px"
                              placeholder="Descripción extra sobre la quedada"
                              data-ng-model="meeting.description"
                    ></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="team">Equipo Anfitrión</label>
                    <input  class="form-control" id="team" data-ng-model="meeting.team"/>
                </div>
                <div class="form-group">
                    <label for="numAsistentes">Núm. asistentes</label>
                    <input  class="form-control-static" type="number" id="numAsistentes" data-ng-model="meeting.numAsistentes"/>
                </div>
                <div class="form-group">
                    <label for="tags">Etiquetas</label>
                    <input  class="form-control" id="tags" data-ng-model="meeting.tag"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="meeting.active"> Activo
                    </label>
                </div>
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <input  class="form-control" id="type" data-ng-model="meeting.type" readonly/>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="meeting.alcohol"> Alcohol
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="meeting.smoke"> Fumar
                    </label>
                </div>
            </div>
            <!--div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" id="name" placeholder="Nombre" data-ng-model="user.name"/>
                </div>
                <div ng-show="user.email" class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" data-ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea id="description" class="form-control" rows="3"
                              data-ng-model="user.description"></textarea>
                </div>
                <select id="role" data-ng-model="user.role" class="form-control"
                        ng-options="r for r in userRoles"></select>
            </div>
            <div class="col-sm-6">
            </div-->
        </div>
    </div>
    <div class="modal-footer ng-style">
        <button type="submit" class="btn btn-danger" data-ng-click="ok()">Guardar</button>
        <button type="cancel" class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
    </div>
</div>
