<!--
This code is distributed under a BEER-WARE license.

Mario Macias Lloret wrote this file. Considering this, you can do what you
want with it: modify it, redistribute it, sell it, etc... But you will always
have to credit me as an author in the code.

In addition, if we meet someday and you think this code has been useful for
you, you MUST pay me a beer (a good one, if possible) as a reward for my
contribution.
-->

<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Información de usuario</h3>
    </div>
    <div class="modal-body ng-scope">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div ng-show="user.id" class="form-group">
                        <label for="userid">Id</label>
                        <input id="userid" class="form-control" ng-value="user.id" readonly/>
                    </div>
                    <div ng-show="user.createTime" class="form-group">
                        <label for="createtime">Creado</label>
                        <input id="createtime" class="form-control" ng-value="showDate(user.createTime)" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" id="name" placeholder="Nombre" data-ng-model="user.name"/>
                </div>
                <div ng-show="user.email && user.email.trim()" class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" data-ng-model="user.email" readonly>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea id="description" class="form-control" rows="3"
                              data-ng-model="user.description"></textarea>
                </div>
                <select id="role" data-ng-model="user.role" class="form-control"
                        ng-options="r for r in userRoles"></select>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="userPhotoThumb"><img src="{{user.photoUrl}}"/></div>
                    <label for="file">Cambiar foto</label>
                    <!--form method="POST" enctype="multipart/form-data" action="/"-->
                    <input type="file" id="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                    <p class="help-block">Sólo .PNG de menos de 1 MB <span style="color: red; font-weight: bold;" ng-bind="errorMsg"></span></p>
                    <input type="hidden" id="imageModified" data-ng-model="user.image_modified"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer ng-style">
        <button type="submit" class="btn btn-danger" data-ng-click="ok()">Guardar</button>
        <button type="cancel" class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
    </div>
</div>
